$color-primary:       #2b86bf; // blue
$color-primary-700:   #1d597f;
$color-navy:          #0e2d40;

$color-bg:            #f8feff; // page background
$color-gray-300:      #cbc6c1; // cool gray
$color-taupe:         #9e8d84;

$color-brown-700:     #715546; // hover brown
$color-brown-900:     #441c08; // deep brown

$color-sand-200:      #ddcab9;
$color-sand-300:      #bba38d;